* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif; /* Change to a modern font */
    --background: #e6e6e6;
    --primary: #d8d8d8;
    --secondary: #1b1b1b;
    --accent: #c0c0c0;
    --text: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-family);
    background-image: url('../assets/background/bg.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#content {
    filter: blur(10px);
    transition: filter 0.1s ease;
}

body.loaded #content {
    filter: blur(0);
    transition: filter 0.1s ease;
}

/* Loading screen styles */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.spinner {
    border: 8px solid var(--secondary);
    border-top: 8px solid var(--accent);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-screen p {
    margin-top: 20px;
    color: var(--text);
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 20px;
    background-color: var(--primary);
    opacity: 0.97;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

nav.sticky {
    position: fixed;
    top: 0;
    width : 100%;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav:hover {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

nav.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

nav ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 12px;
    font-weight: bold;
    position: relative;
    transition: color 0.2s ease;
    cursor: default;
}

nav ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #7a0707;
    transform-origin: center;
    transition: transform 0.25s ease-out, transform-origin 0.25s ease-out;
}

nav ul a:hover::after,
nav ul a.active::after {
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.25s ease-out, transform-origin 0.25s ease-out;
}

nav img {
    border-radius: 50%;
    width: 60px;
    transition: transform 0.2s ease, border-radius 0.2s ease;
}

nav img:hover {
    transform: scale(1.1);
    border-radius: 25%;
    transition: transform 0.2s ease, border-radius 0.2s ease;
}

#burger {
    display: none;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#nav-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: min(100%, 300px);
}

footer {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: var(--secondary);
}

footer a::before {
    content: '✉️';
}

.static-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 elements per row */
    height: 90vh;
    align-items: center;
    justify-content: center;
    cursor : default;
    width: 100%;
    background-size: fill;
    background-position: center; /* Center the background image */
    color: var(--text);
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 998;
    color : white;

    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}


.static-header h1 {
    font-size: 2.5em;
    margin-top: 50px;
    cursor: default;
    transition: font-size 0.2s ease;
}

.static-header p {
    font-size: 1.2em;
    margin-bottom: 0;
    cursor: default;
    transition: font-size 0.2s ease;
}

.static-header h1.hover-active,
.static-header p.hover-active {
    font-size: 5em;
    cursor : default;
}

.static-header p.hover-active {
    font-size: 3em;
    cursor : default;
}

.static-header h1.scroll-active {
    font-size: 2.5еm;
    cursor : default;
}

.static-header p.scroll-active {
    font-size: 3em;
    cursor : default;
}


main {
    width: min(80vw, 1800px);
    margin: 0 auto;
}

.section {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
    opacity: 0.8;
    backdrop-filter: blur(5%);
    transition: opacity 0.2s ease, transform 0.2s ease, backdrop-filter 0.2s ease, background-color 0.2s ease;
}

.section.focused {
    opacity: 1;
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.2s ease, transform 0.2s ease, backdrop-filter 0.2s ease, background-color 0.2s ease;
}

.section:hover{
    opacity: 1;
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.2s ease, transform 0.2s ease, backdrop-filter 0.2s ease, background-color 0.2s ease;
}

.section h2 {
    color: black; /* Use the background color for text */
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; /* Use a modern font */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    padding: 5px 15px; /* Add padding for better spacing */
    border-radius: 5px; /* Add rounded corners */
    position: relative; /* Required for the underline */
    transition: background-color 0.2s ease; /* Add a smooth transition */
}

.section h2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -2px;
    left: 0px;
    background-image: linear-gradient(90deg, #7a0707 40%, #0e2a47 , #ffffff);
    border-top-right-radius: 255px; /* Add rounded corners to the top-right */
    border-bottom-right-radius:5px; /* Add rounded corners to the bottom-right */
    
    transform-origin: left;
    transition: transform 0.25s ease-out, transform-origin 0.25s ease-out, background-color 0.2s ease; /* Add a smooth transition */
}

.section h2:hover::after,
.section h2.active::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s ease-out, transform-origin 0.25s ease-out, background-color 0.2s ease; /* Add a smooth transition */
}

.section h2:hover {
    background : var(--accent); /* Change the background color on hover */
    transition: background-color 0.2s ease; /* Add a smooth transition */

}


.text-box {
    height : 50px;
    border: 2px solid var(--accent);
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: gainsboro;
    color: black;
    transition: background-color 0.2s ease, color 0.2s ease, height 0.5s ease, max-height 0.5s ease, overflow 0.5s ease;
    overflow: hidden;
}

.text-box.expanded {
    height : 100%;
    max-height: 1000px;
    transition: max-height 0.5s ease;
    overflow : auto;
    transition : background-color 0.2s ease, color 0.2s ease, height 0.5s ease, max-height 0.5s ease, overflow 0.5s ease;
}



.text-box .details {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    margin-top: 10px;
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
}

.text-box .details p {
    margin: 10px 0;
    font-size: 1em;
    text-align: center;
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */

}

.text-box.expanded .details {
    max-height: 1000px;
    opacity: 1;
    padding: 10px 0;
}

.text-box .summary {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    overflow: hidden;
}

.text-box .summary::before {
    content: '▶';
    display: inline-block;
    overflow : hidden;
    margin-right: 10px;
    transition: transform 0.5s ease;
}

.text-box.expanded .summary::before {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.podrzali {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.pocetna, .najave, .incidenti,.mediji, .pitanja, .kontakt {
    cursor: default;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 20px;
}



.medij-container {
    display: flex;        /* Arrange items in a row */
    flex-wrap: wrap;      /* Allow wrapping if too many */
    padding: 10px;        /* Add some space around the items */
    justify-content: center; /* Center images */
    gap: 10px;            /* Add some space between items */
}


.medij {
    width: 150px;    /* Limit image size */
    flex: 1 1 auto;      /* Allow flexible resizing */
    text-align: center;  /* Center content */
    transition : background-color 0.2s ease, width 0.5s ease;
}

.medij:hover {
    width : 300px;
    transition : width 0.5s ease;
}

.medij img {
    width: 100%;         /* Make images responsive */
    border-radius: 10px; /* Rounded corners */
}

.najava {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: default;
    transition: background-color 0.2s ease;
}

.najava:hover, .incident:hover, .medij:hover, .pitanje:hover {
    background-color: var(--accent);
    transition : background-color 0.2s ease;
}

.podrzao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: default;
    transition: background-color 0.2s ease;
}

.podrzao img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.podrzao:hover {
    background-color: var(--accent);
}


@keyframes flash {
    0% { filter: brightness(1); }
    50% { filter: brightness(2); }
    100% { filter: brightness(1); }
}

.flash {
    animation: flash 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 12px 0;
    }

    #burger {
        display: block;
        height: 25px;
        width: 30px;
    }

    .line, .space {
        height: 5px;
        width: 30px;
    }

    .line {
        background-color: var(--secondary);
    }

    .offscreen {
        display: none;
    }

    .static-header p {
        display : none;
    }

    .static-header h1 {
        font-size: 2em;
        margin-top: 50px;
        align-items: center;
        justify-content: center;

        cursor: default;
        transition: font-size 0.2s ease;

    }
    body{
        background-image: url('../assets/background/bg.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }


    main {
        width: 100%;
        padding : 0 10px;
    }

    .medij {
        width: 25px;
        
    }

    .medij img {
        width: 100%;
    }

    
    
}