* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif; /* Change to a modern font */
    --background: #acacac;
    --primary: #a3a3a3;
    --secondary: #1b1b1b;
    --accent: #636363;
    --text: #000000;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-family);
    background-image: url('../assets/drops.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.2s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

nav:hover {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

nav ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 12px;
    font-weight: bold;
    position: relative;
    transition: color 0.2s ease;
    cursor: default;
}

nav ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #7a0707;
    transform-origin: center;
    transition: transform 0.25s ease-out, transform-origin 0.25s ease-out;
}

nav ul a:hover::after,
nav ul a.active::after {
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.25s ease-out, transform-origin 0.25s ease-out;
}

nav img {
    border-radius: 50%;
    width: 60px;
    transition: transform 0.2s ease, border-radius 0.2s ease;
}

nav img:hover {
    transform: scale(1.1);
    border-radius: 25%;
    transition: transform 0.2s ease, border-radius 0.2s ease;
}

#burger {
    display: none;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#nav-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: min(100%, 300px);
}

footer {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: var(--secondary);
}

footer a::before {
    content: '✉️';
}

main {
    width: min(70vw, 1800px);
    margin: 0 auto;
    padding: 4%;
}

.section {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
    opacity: 0.8;
    transition: opacity 0.2s ease, transform 0.2s ease, backdrop-filter 0.2s ease, background-color 0.2s ease;
}

.section:hover,
.section.focused {
    opacity: 0.95;
    transform: scale(1.01);
    backdrop-filter: blur(5%);
    background-color: rgba(255, 255, 255, 0.3);
    transition: opacity 0.2s ease, transform 0.2s ease, backdrop-filter 0.2s ease, background-color 0.2s ease;
}

.section h2 {
    color: var(--background); /* Use the background color for text */
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; /* Use a modern font */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    padding: 5px 15px; /* Add padding for better spacing */
    background: var(--secondary); /* Use the secondary color for background */
    background-image: linear-gradient(45deg, var(--accent) 50%, transparent 50%); /* Add a gradient background */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

    transition: background-image 0.5s ease; /* Add a smooth transition */
}


.text-box {
    border: 2px solid var(--accent);
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--background);
    transition: background-color 0.2s ease, color 0.2s ease;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.text-box:hover {
    background-color: var(--accent);
    color: var(--background);
}

.text-box .details {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    margin-top: 10px;
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
}

.text-box .details p {
    margin: 10px 0;
    font-size: 1em;
    text-align: center;
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */

}

.text-box.expanded .details {
    max-height: 1000px;
    opacity: 1;
    padding: 10px 0;
}

.text-box .summary {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
}

.text-box .summary::before {
    content: '▶';
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.5s ease;
}

.text-box.expanded .summary::before {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.podrzali {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.pocetna, .najave, .incidenti, .mediji, .pitanja, .kontakt {
    cursor: default;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.najava {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: default;
    transition: background-color 0.2s ease;
}

.najava:hover, .incident:hover, .medij:hover, .pitanje:hover {
    background-color: var(--accent);
}

.podrzao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: default;
    transition: background-color 0.2s ease;
}

.podrzao img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.podrzao:hover {
    background-color: var(--accent);
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 12px 0;
    }

    #burger {
        display: block;
        height: 25px;
        width: 30px;
    }

    .line, .space {
        height: 5px;
        width: 30px;
    }

    .line {
        background-color: var(--secondary);
    }

    .offscreen {
        display: none;
    }
}